* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

li {
    float: left;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    color: #9ea7a7;
}

.m_nav {
    height: 67px;
    background-color: #76c7c0;
    padding-top: 26px;
    padding-left: 170px;
    font-weight: bold;
    font-family: -webkit-pictograph;
}

.m_nav ul {
    display: inline-table;
}

.m_nav ul li {
    padding-left: 50px;
}

.search {
    background: url(image/search.png) no-repeat right;
    padding-right: 44px;
}

.head_bg {
    margin: 0px;
    width: 100%;
    display: -webkit-box;
}

.about_us {
    height: 79px;
    background-color: #ececec;
    color: #7f8c8c;
    padding-top: 35px;
    padding-left: 170px;
}

.about_us a {
    margin-top: -22px;
    float: right;
    color: #7f8c8c;
    margin-right: 168px;
    font-family: -webkit-pictograph;
}

.about_us a:hover {
    color: #e1524b;
}

.jiao {
    position: relative;
    top: 38px;
}

.content {
    padding-left: 170px;
    padding-top: 30px;
    background-color: #f3f3f3;
}

.left,
.right {
    display: inline-block;
    width: 38px;
    height: 38px;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 20px;
    background-color: #98a3a3;
}

.left,
.right a {
    color: white;
}

.left:hover {
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 5px;
    background-color: #e1524b;
}

.right:hover {
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 5px;
    background-color: #e1524b;
}

#container {
    width: 900px;
    height: 450px;
    margin-top: 40px;
    overflow: hidden;
    position: relative;
}

#list {
    position: absolute;
    z-index: 1;
    height: 450px;
}

#list img {
    float: left;
}

#buttons {
    position: absolute;
    bottom: 20px;
    left: 165px;
    z-index: 1;
}

#buttons span {
    cursor: pointer;
    float: left;
    width: 100px;
    height: 10px;
    background: #b0b8b9;
    margin-right: 130px;
}

#buttons .on {
    background: #e2534b;
}

.arrow {
    cursor: pointer;
    display: none;
    line-height: 39px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 2;
    top: 180px;
    background-color: #e8645a;
    color: white;
}

#container:hover .arrow {
    display: block;
}

#prev {
    left: 20px;
}

#next {
    right: 20px;
}

.pro_der {
    width: 900px;
    height: 350px;
    margin-right: auto;
}

.project {
    float: left;
    width: 500px;
    margin-top: 30px;
}

.project p {
    margin-top: 20px;
    color: #9ea7a7;
}

.derails {
    float: right;
    width: 300px;
    height: 200px;
    line-height: 40px;
    margin-top: 30px;
    color: #9ea7a7;
}

.derails span {
    padding-left: 32px;
    display: inline-block;
    width: 128px;
    border-bottom: 1px solid #e2dede;
}

.derails a {
    float: right;
    text-decoration: none;
    color: #9ea7a7;
    border-bottom: 1px solid #e2dede;
    height: 40px;
}

.derails a:hover {
    color: #e1524b;
}

.derails .one {
    background: url(image/1.png) no-repeat left;
}

.derails .two {
    background: url(image/2.png) no-repeat left;
}

.derails .three {
    background: url(image/3.png) no-repeat left;
}

.derails .four {
    background: url(image/4.png) no-repeat left;
}

.related {
    width: 960px;
}

.l,
.r {
    float: right;
    width: 38px;
    height: 38px;
    font-size: 2em;
    margin-top: -28px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 20px;
    background-color: #98a3a3;
}

.l,
.r a {
    color: white;
}

.l :hover {
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 5px;
    background-color: #e1524b;
}

.r :hover {
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 5px;
    background-color: #e1524b;
}
.green .eye :hover {
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 6px;
    background-color: #e1524b;
}
.green .eye a{
display: inline-block;
    width: 38px;
    height: 38px;
    line-height: 43px;
    border-radius: 6px;
  
}
.green {
    width: 224px;
    height: 234px;
    margin: 25px 5px;
    display: inline-block;
    background-color: #83ccc5;
    text-align: center;
    line-height: 210px;
   
    border-radius: 6px;
}

.eye {
    display: inline-block;
    background-color: #76b7b1;
    width: 38px;
    height: 38px;
    line-height: 43px;
    border-radius: 6px;
    cursor: pointer;
}


.lorem {
   position: relative;
    top: 84px;
    margin-left: -89px;
    text-decoration: none;
    font-size: 1.2em;
   
}

.footer {
    background-color: #76c7c0;
    color: white;
}

.hea {
    width: 100%;
}

.footert {
    padding-left: 170px;
    padding-top: 20px;
    padding-bottom: 45px;
}

.footert a {
    text-decoration: none;
}

.footer_l {
    width: 321px;
}

.footer_l p {
    padding-top: 30px;
    padding-left: 8px;
}

.phone {
    font-size: 17px;
    font-family: -webkit-pictograph;
}

.email {
    margin-top: -25px;
    font-size: 17px;
    font-family: -webkit-pictograph;
}

.footer_mo {
    width: 104px;
    margin-top: -241px;
    margin-left: 365px;
}

.footer_mo h3 {
    color: #3b6360;
    font-size: x-large;
}

.hh {
    color: #3b6360;
    font-size: x-large;
}

.company {
    padding-top: 30px;
    padding-left: 13px;
    line-height: 20px;
}

.company a {
    background: url(image/arrow.jpg) no-repeat left;
    padding-left: 20px;
}

.footer_mt {
    width: 121px;
    margin-top: -177px;
    margin-left: 166px;
}

.footer_mt h3 {
    color: #3b6360;
    font-size: x-large;
}

.community {
    padding-top: 30px;
    padding-left: 13px;
    line-height: 20px;
}

.community a {
    background: url(image/arrow.jpg) no-repeat left;
    padding-left: 20px;
}

.footer_mo h2 {
    width: 165px;
}

.footer_r {
    margin-top: -137px;
    margin-left: 361px;
    width: 450px;
}

.pic {
    width: 70px;
    height: 60px;
    background-color: #5e9f9a;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    margin-top: 30px;
}

.text {
    margin-top: -61px;
    width: 241px;
    margin-left: 100px;
    font-size: 15px;
}

.pp {
    color: #3b6360;
    font-family: -webkit-pictograph;
}

.footer-b {
    height: 50px;
    background-color: #6ab3ac;
    padding-left: 170px;
}

.footer_bg {
    float: right;
    margin-top: -17px;
    margin-right: 110px;
}

.clear {
    clear: both;
}
