* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

li {
    float: left;
    list-style-type: none;
}

a {
    color: white;
}

.m_nav {
    height: 67px;
    background-color: #76c7c0;
    padding-top: 26px;
    padding-left: 170px;
    font-weight: bold;
    font-family: -webkit-pictograph;
}
.m_nav a{
	text-decoration:none;
}
.m_nav ul {
    display: inline-table;
    
}

.m_nav ul li {
    padding-left: 35px;
}

.search {
    background: url(image/search.png) no-repeat right;
    padding-right: 44px;
}

.head_bg {
    margin: 0px;
    width: 100%;
    display: -webkit-box;
}

.about_us {
    height: 79px;
    background-color: #ececec;
    color: #7f8c8c;
    padding-top: 35px;
    padding-left: 170px;
}

.about_us span {
    margin-top: -22px;
    float: right;
    margin-right: 168px;
    font-family: -webkit-pictograph;
}

.jiao {
    position: relative;
    top: 38px;
}

.content {
    padding-left: 170px;
    padding-bottom: 350px;
    background-color: #f3f3f3;
}

.map {
    margin-top: 50px;
    width: 86%;
}

.para {
    width: 964px;
    margin-top: 60px;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
    padding-left: 25px;
    background-color: #ececec;
    color: #878787;
}

.content_l {
    background-color: #f3f3f3;
    color: #7f8c8c;
}

.content_l h3 {
    color: #7f8c8c;
    margin-top: 62px;
    margin-bottom: 65px;
}

.content_l input {
    background-color: #e5e6e6;
    border-radius: 5px;
    border-top: 2px solid #d9dada;
    border-left: 2px solid #d9dada;
    width: 420px;
    height: 33px;
    margin-bottom: 16px;
}

.content_l .blank {
    width: 700px;
    height: 240px;
}

.content_l .button {
    border: none;
    background-color: #e8645a;
    color: white;
    width: 197px;
    height: 54px;
    float: left;
    margin-top: 277px;
    margin-right: -197px;
}

.content_r {
    float: right;
    color: #7f8c8c;
    margin-top: -559px;
    margin-right: 175px;
}

.content_r h3 {
    color: #7f8c8c;
    margin-top: 62px;
    margin-bottom: 65px;
}

.aa {
    width: 200px;
    margin-top: -39px;
    padding-left: 40px;
}

.content_r a {
    color: #e8645a;
}

.footer {
    background-color: #76c7c0;
    color: white;
}

.hea {
    width: 100%;
}

.footert {
    padding-left: 170px;
    padding-top: 20px;
    padding-bottom: 45px;
}

.footert a {
    text-decoration: none;
}

.footer_l {
    width: 321px;
}

.footer_l p {
    padding-top: 30px;
    padding-left: 8px;
}

.phone {
    font-size: 17px;
    font-family: -webkit-pictograph;
}

.email {
    margin-top: -25px;
    font-size: 17px;
    font-family: -webkit-pictograph;
}

.footer_mo {
    width: 104px;
    margin-top: -241px;
    margin-left: 365px;
}

.footer_mo h3 {
    color: #3b6360;
    font-size: x-large;
}

.hh {
    color: #3b6360;
    font-size: x-large;
}

.company {
    padding-top: 30px;
    padding-left: 13px;
    line-height: 20px;
}

.company a {
    background: url(image/arrow.jpg) no-repeat left;
    padding-left: 20px;
}

.footer_mt {
    width: 121px;
    margin-top: -177px;
    margin-left: 166px;
}

.footer_mt h3 {
    color: #3b6360;
    font-size: x-large;
}

.community {
    padding-top: 30px;
    padding-left: 13px;
    line-height: 20px;
}

.community a {
    background: url(image/arrow.jpg) no-repeat left;
    padding-left: 20px;
}

.footer_mo h2 {
    width: 165px;
}

.footer_r {
    margin-top: -137px;
    margin-left: 361px;
    width: 450px;
}

.pic {
    width: 70px;
    height: 60px;
    background-color: #5e9f9a;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    margin-top: 30px;
}

.text {
    margin-top: -61px;
    width: 241px;
    margin-left: 100px;
    font-size: 15px;
}

.pp {
    color: #3b6360;
    font-family: -webkit-pictograph;
}

.footer-b {
    height: 50px;
    background-color: #6ab3ac;
    padding-left: 170px;
}

.footer_bg {
    float: right;
    margin-top: -17px;
    margin-right: 110px;
}

.clear {
    clear: both;
}
